<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }}{{ settings.SEO.separator }}{{ settings.SEO.site_name }}</title>
    <link rel="shortcut icon" type="image/jpg" href="{{ settings.favicon }}"/>
    {% if metadata.description %}
        <meta name="description" content="{{metadata.description}}"/>
    {% endif %}
    {% if metadata.keywords %}
        <meta name="keywords" content="{{metadata.keywords}}">
    {% endif %}
    {% if author %}
        <meta name="author" content="{{author}}">
    {% endif %}
    <meta property="og:title" content="{{settings.name}}">
    <meta property="og:description" content="{{metadata.description}}">
    <meta property="og:image" content="{{ settings.favicon }}">
    <meta property="og:url" content="https://netlifycmsstart.netlify.app/">
    <meta name="twitter:card" content="{{ settings.favicon }}">
    <meta property="og:locale" content="en_US" />
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.9.4/dist/alpine.js" defer></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>