---
layout: _default
---
<div class="center mw6 pv3">
    <img src="{{ image }}" alt="" class="db w4 center pv4" />

    <h1 class="font-bold text-5xl">{{title}}</h1>

    {{ content | safe }}

    <div class="flex-ns mb3">
        {% for entry in entries %}
            <div>
                <h4 class="f4 b lh-title mb2">{{ entry.heading }}</h4>
                <p>{{ entry.text }}</p>
            </div>
        {% endfor %}
    </div>
    
    <div>
        <form name="contact" netlify>
            <p>
              <label>Name <input type="text" name="name" /></label>
            </p>
            <p>
              <label>Email <input type="email" name="email" /></label>
            </p>
            <p>
              <button type="submit">Send</button>
            </p>
          </form>
    </div>
    

</div>