---
layout: _default
---
<div class="center mw6 pv3">
    <img src="{{ image }}" alt="" class="db w4 center pv4" />

    <h1 class="font-bold text-5xl">{{title}}</h1>

    {{ content | safe }}

    <div class="flex-ns mb3">
        {% for entry in entries %}
            <div>
                <h4 class="f4 b lh-title mb2">{{ entry.heading }}</h4>
                <p>{{ entry.text }}</p>
            </div>
        {% endfor %}
    </div>
    
    <div>
        <form name="contact" netlify>
            <div class="flex flex-row justify-between">
                <div class="form-group">
                    <label>Name <input type="text" name="name" class="p-1.5" /></label>
                </div>
                <div class="form-group">
                    <label>Email <input type="email" name="email" class="p-1.5" /></label>
                </div>
            </div>
            <div class="bg-primary white text-center mt-3 p-1.5">
                <button type="submit">Send</button>
            </div>
          </form>
    </div>
    

</div>